<!-- <form (ngSubmit)="actionEvent('save')" #transactionForm="ngForm"> -->
<div class="drawer-body">
  <div class="row">
    <div class="col-12 mb-2">
      <p>Customer</p>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input
          name="number"
          type="text"
          matInput
          placeholder="Phone No."
          [(ngModel)]="transaction.phone"
        />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input
          name="customerName"
          type="text"
          matInput
          capitalizeFirst
          placeholder="Customer Name"
          [(ngModel)]="transaction.customer_name"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-2">
      <p>Vehicle</p>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input
          name="vehicleNo"
          type="text"
          matInput
          capitalize
          placeholder="Vehicle No."
          [(ngModel)]="transaction.vehicle_no"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input
          name="vehicleName"
          type="text"
          matInput
          capitalizeFirst
          placeholder="Vehicle Name"
          [(ngModel)]="transaction.vehicle_name"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-2">
      <p>Amount (₹)</p>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <input
          name="cash"
          type="number"
          matInput
          placeholder="Cash"
          [(ngModel)]="transaction.cash"
        />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <input
          name="upi"
          type="number"
          matInput
          placeholder="UPI"
          [(ngModel)]="transaction.upi"
        />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="drawer-footer rightAlignButtons">
  <ct-button [role]="'secondary'" (onClick)="actionEvent()">CANCEL</ct-button>
  <!-- [disabled]="
      !transactionForm.valid && (!transaction.cash || !transaction.upi)
    " -->
  <ct-button (onClick)="actionEvent('save')">SAVE</ct-button>
</div>
<!-- </form> -->
