<drawer-panel
  [footerTemplate]="drawerPanelConfig.footerTemplate"
  [useCustomTemplate]="drawerPanelConfig.useCustomTemplate"
  [showCloseButton]="drawerPanelConfig.showCloseButton"
  [drawerTitle]="drawerPanelConfig.drawerTitle"
  [drawerContainer]="drawerPanelConfig.drawerContainer"
  [isActive]="drawerPanelConfig.isActive"
  [isRightSide]="drawerPanelConfig.isRightSide"
  [hasBackdrop]="drawerPanelConfig.hasBackdrop"
  [escClose]="true"
  [drawerMode]="drawerPanelConfig.drawerMode"
  [drawerSize]="drawerPanelConfig.drawerSize"
  #drawer
>
  <mat-toolbar class="toolbar">
    <span>{{ appName }}</span>

    <a href="#" (click)="onLogout()" class="logout" title="Logout"
      >
      <!-- <span class="logout-text">Logout</span> -->
      <mat-icon class="logout-icon">power_settings_new</mat-icon>
    </a>
  </mat-toolbar>
  <router-outlet></router-outlet>

  <!-- (isActiveChange)="drawerTest($event)" -->
</drawer-panel>

<!-- Loading Overlay -->
<!-- <div class="loadingOverlay" *ngIf="loading">
</div> -->
